<!DOCTYPE html>
<html>
<head>
    <title>Profile Changes Saved</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="csaBody">
    <div class="csaRectangle">
        <h1 id="csaInfoSaved">All information has been saved!</h1>
        <a id="csaToHome" href="Home">To Home Page</a>
    </div>
</body>

</html>