<!DOCTYPE html>
<html>
<head>
    <title>Account Create Success</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="csBody">
    <div class="csRectangle">
        <h1 id="csAccCreated">Account successfully created!</h1>
        <a id="csToHome" href="Welcome">To Login Page</a>
    </div>
</body>

</html>