<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form method="post">
        <header>
            <a href="Home">
                <img id="logo" src="https://media.discordapp.net/attachments/911545876860764180/1065562528970719242/icons8-home-page-96_1.png"></img>
            </a>
            <nav>
                <ul>
                    <li><a href="LinkedUser">Linked User</a></li>
                    <li><a href="DataHistory">Data History</a></li>
                    <li><a href="UserProfile">Profile</a></li>
                    <li><a href="Logout">Logout</a></li>
                </ul>
            </nav>
        </header>

        <h1 id="becarefall">BeCareFall</h1>

        <div class="description">
            <p id="description">A fall detection medical alert system allows the user to summon help without having to press the call button. These systems automatically activate the sensor if the user suffers a fall.</p>
        </div>

        <div>
            <button id="btnSubmit" type="submit">View Dashboard</button>
        </div>
    </form>
</body>

</html>