<!DOCTYPE html>
<html>
<head>
    <title>Logged Out</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="lBody">
    <div class="lRectangle">
        <h1>Your account has been logged out.</h1>
        <a id="redirect" href="/Welcome">Login</a>
    </div>
    
</body>

</html>